<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Архив статей</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/article.css' %}">
    </head>
<body class="archive">
    <div class="header">
        <img src="https://avatars.mds.yandex.net/i?id=d8d3674255e068f87a9054d869e8326f48b6b445-12432422-images-thumbs&n=13" />
    </div>
    <div class="archive">
        {% for post in posts %}
        <div class="one-post">
            <h2 class="post-title">
                <a href="/article/{{ post.id }}/">{{ post.title }}</a>
            </h2>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>

